.list {
  list-style-type: none;
  padding-left: 0;
  // background: #E0E0E0;
  padding: 10px 0;
  border-radius: 2px;
  height: 75vh;
  overflow-x: hidden;
 
}

.name-header {
  padding: 6px 6px;
  margin: 0;
  color: #5e5d5f;
}